/.idea/*
/cobis-ach-service-microservice/resolvedPom.xml

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.class
*.iml
.classpath
.project
.settings/
target/
logs/
build/
/.metadata/
null/
cobis-language.log
.idea/
resolvedPom.xml
/cobis-ach-service-bsl/resolvedPom.xml
/cobis-ach-service-bsl-impl/resolvedPom.xml
/cobis-ach-service-dto/resolvedPom.xml
/cobis-ach-service-parent/*.xml
/cobis-ach-service-rest/resolvedPom.xml
/cobis-ach-service-rest/cobis-ach-service-rest.iml
/SWITCH-ACH/ACHIntegrationCore/cobis-achintegrationcore-asl/resolvedPom.xml
cobis-ach-service-microservice/src/main/resources/application.yml
*resolvedPom.xml
resolvedPom.xml
*.bak

.vscode/